
html, body, :global(#root) {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background:navy;
  }
  .lefts{
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 13px;
  }
  .loginBtn{
      width: 355px;
      height: 40px;
      line-height: 40px;
      border-radius: 3px;
      text-align: center;
  }
  .ipts{
      height: 35px;
      line-height: 35px;
  }
.box{
    width:400px;
    height: 295px;
    position: absolute;
    right: 15%;
    top: 25%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 40px 20px;
    background: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
}
.login-form-button{
    height: 40px;
}
.fromBox{
    width: 358px;
    height: 213px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: red; */
    /* border: 1px solid #ccc; */
}
.fromBox_item:nth-child(1){
    margin-bottom: 22px;
}
.fromBox_item{
    width: 355px;
    height: 40px;
    background: rgba(232,240,254);
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
}
.fromBox_item:hover{
    border: 1px solid rgba(56,100,254);
    /* box-shadow: 1 1 rgba(56,100,254); */
}
.user{
    width:16px;
    height:16px;
    margin-left: 12px;
    margin-right: 20px;
}
.ipt{
    flex:1;
    outline: none;
    border: 0;
    width: 100%;
    background: none;
    height: 90%;
}